.idea

.env
.env.backup
.phpunit.result.cache

vendor/
node_modules/

npm-debug.log
yarn-error.log

bootstrap/compiled.php
app/storage/

public/storage
public/hot

public_html/storage
public_html/hot

Homestead.json
Homestead.yaml

storage/*.key

/.vagrant